* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-container {
    /* outline: 2px solid red; */
    border-radius: 5px;
    background-color: #262626;
    width: 600px;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.display {
    /* outline: 2px solid blue; */
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    height: 150px;
    flex-shrink: 0;
    padding: 5px;
}

.display-content {
    /* outline: 2px solid purple; */
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    font-size: 60px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

.btn {
    /* outline: 2px solid green; */
    width: 145px;
    flex-basis: 25%;
    border-radius: 5px;
}

.util {
    background-color: #cccccc;
}

.operand {
    background-color: #FFA500;
}

.number {
    background-color: #808080;
}
